body {
	margin: 0;
}

h1 {
	font-size: 2em;
	font-weight: normal;
}

.left {
	float: left;
}

.right {
	float: right;
}

.no-background {
	background: none !important;
}

.no-style-list {
	list-style-type: none;
}

.no-margin {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.clear {
	clear: both;
}

.bold-font {
	font-weight: bold;
}

.normal-font {
	font-weight: normal;
}

.content-wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

section {
	box-shadow: 0 1px 3px 0 grey;
	overflow: hidden;
}

header {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	background-color: white;
	padding: 0 0 10px 0;
	box-shadow: 0 1px 3px 0 grey;
	position: fixed;
	width: 100%;
}

.nav-item {
	text-transform: uppercase;
	list-style-type: none;
	float: left;
	width: auto;
	background: white url(img/divider.png) right center no-repeat;
	padding: 0 10px 0 10px;
	margin-top: 48px;
}

header a:link, header a:visited{
	text-decoration: none;
	color: #585951;
}

.logo {
	background: url(img/comverse-logo.png);
	margin-right: 45px;
	height: 62px;
	width: 185px;
}

.search-form {
	border: 1px solid #d2d2d2;
	border-radius: 6px;
	margin-top: 30px;
}

.search {
	width: 105px;
	height: 20px;
	border: none;
	margin: 0 5px 0 5px;
	border-radius: 6px;
	background: white url(img/divider.png) right center no-repeat;
	outline: none;
}

.submit {
	background: white url(img/searchBtn.png) right center no-repeat;
	border: none;
	margin-right: 8px;
	padding-top: 5px;
	outline: none;
	cursor: pointer;
}

.login {
	margin-top: -20px;
}

.login-menu-item {
	float: right;
	padding-left: 10px;
	list-style-type: none;
	background: white url(img/divider.png) left center no-repeat;
	outline: none;
}

.language-menu {
	width: 45px;
	border: none;
	color: #585951;
	padding: 0;
}

.login a:hover {
	text-decoration: underline;
}

.slides {
	background: url(img/slide-bg-complexity.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 80px;
	min-height: 550px;
	z-index: 6;
}

.highlights {
	height: 240px;
	width: 420px;
	padding: 10px 0 10px 0;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

.heading {
	font-weight: normal;
	font-size: 2em;
}

.blue-button {
	background: url(img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 36px;
	width: 180px;
	padding: 10px;
	border: none;
	text-align: left;
	border-radius: 6px;
	color: white;
	box-shadow: 0 1px 3px 0 grey;
}

button:hover{
	cursor: pointer;
}

.bullet {
	width: 10px;
	height: 10px;
	background-color: #e0e0e0;
	border-radius: 2px;
	margin-right: 8px;
	box-shadow: 0 1px 3px 0 grey;
}

.active {
	background-color: #2e95ca;
}

.bold {
	font-weight: bold;
}

.slides .content-wrapper ul {
	margin: 0;
	padding: 0;
}

.card {
	width: 27%;
	height: 7em;
	padding: 20px 15px 20px 15px;
	margin-right: 34px;
	border-radius: 6px;
	list-style-type: none;
	box-shadow: 0 1px 3px 0 grey;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	color: white;
}

.card:hover {
	cursor: pointer;
}

.pink {
	background-color: rgba(251, 66, 158, 0.9);
}

.pink:hover {
	background-color: rgba(251, 66, 158, 1);
}

.green {
	background-color: rgba(106, 192, 50, 0.9);
}

.green:hover {
	background-color: rgba(106, 192, 50, 1);
}

.orange {
	background-color: rgba(255, 117, 24, 0.9);
}

.orange:hover {
	background-color: rgba(255, 117, 24, 1);
}

.more-details {
	font-size: 0.7em;
	font-weight: bold;
	margin-top: 2.5em;
}

.details-icon {
	display: inline-block;
	vertical-align: middle;
	width: 29px;
	height: 22px;
	padding: 0;
}

.details-text {
	display: inline-block;
	vertical-align: middle;
}

.services {
	background: url(img/weDoBG.png) repeat scroll 0 0, radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: white;
	padding: 30px 0 60px;
	margin-bottom: 0;
	z-index: 5;
}

.services h1 {
	text-align: center;
}

.service-item {
	width: 130px;
	height: 150px;
	float: left;
	margin: 0 20px 60px 0;
	vertical-align: middle;
}

.service-icon {
	height: 100px;
	margin-bottom: 15px;
}

.service-name {
	text-transform: none;
	font-size: 0.9em;
}

.data-monetization {
	display: block;
	background: transparent url(img/data-monetization.png) no-repeat center bottom;
}

.data-monetization:hover {
	background: transparent url(img/data-monetization-hover.png) no-repeat center bottom;
}

.machine-to-machine {
	display: block;
	background: transparent url(img/robot-icon.png) no-repeat center bottom;
}

.machine-to-machine:hover {
	background: transparent url(img/robot-icon-hover.png) no-repeat center bottom;
}

.over-the-top {
	display: block;
	background: transparent url(img/flag-icon.png) no-repeat center bottom;
}

.over-the-top:hover {
	background: transparent url(img/flag-icon-hover.png) no-repeat center bottom;
}

.cloud-computing {
	display: block;
	background: transparent url(img/cloud-icon.png) no-repeat center bottom;
}

.cloud-computing:hover {
	background: transparent url(img/cloud-icon-hover.png) no-repeat center bottom;
}

.managed-services {
	display: block;
	background: transparent url(img/managed-services.png) no-repeat center bottom;
}

.managed-services:hover {
	background: transparent url(img/managed-services-hover.png) no-repeat center bottom;
}

.social-media {
	display: block;
	background: transparent url(img/social-icon.png) no-repeat center bottom;
}

.social-media:hover {
	background: transparent url(img/social-icon-hover.png) no-repeat center bottom;
}



.news-events {
	background: url(img/news-and-events-bg.jpg) no-repeat 50% fixed #1e1c1b;
}